@inherits WinIt.Pages.Base.BaseComponentBase
@inject Winit.UIComponents.Common.IAlertService _AlertMessgae;


<div style="width:100%;float:left;margin:30px 0px;">
    @if (!string.IsNullOrWhiteSpace(ValidationMessage))
    {
        <div class="alert alert-danger">
            <div class="col-md-12">
                <div style="color: red;">@ValidationMessage</div>
            </div>
        </div>
    }
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <label style="font-weight: bold;">Firm's Name</label>
        @if (FirmName != null)
        {
            <span>@FirmName</span>
        }
    </div>
    <div class="card cls_shadow mt-1" style="width:98%;">
        <div class="card-body">
            <div class="cls_cust_information">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">Bank Account Number<i class="cls_section_div_purchase2_span">*</i></label>
                        <input autocomplete="off" class="form-control" id="BAN" type="text" placeholder="Enter here" @bind="SelectedBanking.BankAccountNo1" @oninput="ValidateAccountNumber" onkeypress="allowSpecificKeys(event, '0123456789 ,.-')" />
                        <div class="invalid-feedback" style="display: @(string.IsNullOrEmpty(AccountNumbervalidationMessage) ? "none" : "block")">
                            @AccountNumbervalidationMessage
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">Bank Name<i class="cls_section_div_purchase2_span">*</i></label>
                        <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.BankName1" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">Bank Address 1<i class="cls_section_div_purchase2_span">*</i></label>
                        <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.BankAddressFirst1" onkeypress="allowSpecificKeys(event, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 ,.-')" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">Bank Address 2<i class="cls_section_div_purchase2_span">*</i></label>
                        <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.BankAddressFirst2" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">IFSC Code<i class="cls_section_div_purchase2_span">*</i></label>
                        <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.IFSCCode1" onkeypress="allowSpecificKeys(event, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <label style="font-weight: bold;">Bank Account Number</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.BankAccountNo2" @oninput="ValidateAccountNumber2" onkeypress="allowSpecificKeys(event, '0123456789 ,.-')" />
                    <div class="invalid-feedback" style="display: @(string.IsNullOrEmpty(AccountNumbervalidationMessage2) ? "none" : "block")">
                        @AccountNumbervalidationMessage2
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <label style="font-weight: bold;">Bank Name</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.BankName2" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <label style="font-weight: bold;">Bank Address 1</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.BankAddressSecond1" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <label style="font-weight: bold;">Bank Address 2</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.BankAddressSecond2" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <label style="font-weight: bold;">IFSC Code</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="SelectedBanking.IFSCCode2" />
                </div>
 @*            </div>
        </div>
    </div>

    <div class="card cls_shadow mt-1">
        <div class="card-body">
            <div class="cls_cust_information"> *@
                
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-12">
                        <h6>Details For bank documents and issuing cheques</h6>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">Name<i class="cls_section_div_purchase2_span">*</i></label>
                        <input @ref="BankingInput" autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="StoreSignatory.Name" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">Address</label>
                        <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="StoreSignatory.Address" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">PAN No<i class="cls_section_div_purchase2_span">*</i></label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="StoreSignatory.PanNo" maxlength="10" oninput="this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '')" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <label style="font-weight: bold;">Present O/D Limit(Rs in Lacs)<i class="cls_section_div_purchase2_span">*</i></label>
                        <input autocomplete="off" class="form-control" type="text" placeholder="Enter here" @bind="StoreSignatory.ODLimit" maxlength="4" onkeypress="allowSpecificKeys(event, '0123456789')" />
                    </div>
                
                <div class="cls_container_div1">
                    
                        <button class="cls_comman_btn_right" type="submit" @onclick="AddBankingDetails">Add</button>
                    
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%;float:left;margin:10px 0px;">
        <div class="col-12 d-flex justify-content-center">
            <button class="cls_comman_sec_btn mr-2" type="submit" @onclick="OnClean">Clear</button>
            @* <button class="cls_comman_btn mr-2" type="submit" @onclick="AddBankingDetails">Add</button> *@
            <button class="cls_comman_btn" type="submit" @onclick="SaveOrUpdate">@ButtonName</button>
        </div>
    </div>
</div>
<div style="width:100%;float:left;margin:10px 0px;">
    <div class="card">
        <div class="card-body">
            <button class="cls_comman_btn" style="margin-bottom:15px;" type="submit" @onclick="GetAllBankersDetails">View All</button>

            @if (IsShowAllBanking)
            {
                <Winit.UIComponents.Web.Table.TableGridView Columns="DataGridColumns" DataSource="SignatoryDetails" />
            }
        </div>
    </div>
</div>
@code {

}
