@page "/AddHOProvisionStandingConfiguration"
@using Winit.Modules.SKU.Model.Interfaces
@using Winit.Modules.Scheme.BL.Classes
@using Winit.Modules.Scheme.BL.Interfaces
@using Winit.Modules.User.Model.Constants
@inherits SchemeBaseComponent
@layout MainLayout
@inject ICreateStandingConfigurationViewModel _viewModel

<PageTitle>AddHOProvisionStandingConfiguration</PageTitle>
@if (_viewModel.IsIntialize)
{
    <PageHeaderAndFilter IDataBreadcrumbService="dataService" />
    <div class="cls_section">
        <h3 class="cls_container_p_full">Details</h3>


        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label"><sup style="color:red">*</sup>Code </label>

            <label class="cls_credit_label">@_viewModel.StandingProvisionSchemeMaster.StandingProvisionScheme.Code</label>
            @* <input type="textarea" disabled="@(_viewModel.IsDisable)" @bind="_viewModel.StandingProvisionSchemeMaster.StandingProvisionScheme.Description" /> *@

        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label"><sup style="color:red">*</sup>Description </label>
            <div class="">
                <input type="textarea" class="cls_select_date" disabled="@(_viewModel.IsDisable)" @bind="_viewModel.StandingProvisionSchemeMaster.StandingProvisionScheme.Description" />
            </div>
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label" ><sup style="color:red">*</sup> Provision Amount </label>
            <div class="">
                <input type="number" class="cls_select_date" disabled="@(_viewModel.IsDisable)" @bind="@_viewModel.StandingProvisionSchemeMaster.StandingProvisionScheme.Amount" />
            </div>
        </div>




        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Start Date</label>

            <input type="date" class="cls_select_date" disabled="@(_viewModel.IsDisable)"
                   @bind="_viewModel.StandingProvisionSchemeMaster.StandingProvisionScheme.StartDate"
                   min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">End Date</label>

            <input type="date" class="cls_select_date" disabled=@(_viewModel.IsDisable)
                   @bind="_viewModel.StandingProvisionSchemeMaster.StandingProvisionScheme.EndDate"
                   min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Created By</label>
            <label class="cls_credit_label">@_viewModel.StandingProvisionSchemeMaster.StandingProvisionScheme.CreatedByEmpName</label>
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Created On</label>
            <label class="cls_credit_label">@CommonFunctions.GetDateTimeInFormat(_viewModel.StandingProvisionSchemeMaster.StandingProvisionScheme.CreatedTime)</label>
        </div>

    </div>
    <div class="cls_section">
        <h3 class="cls_container_p_full">Applicable to Products</h3>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label"><sup style="color:red">*</sup>Division</label>
            <Winit.UIComponents.Common.CustomControls.DropDown DataSource="@_viewModel.ProductDivisions"
                                                               Disabled="@(_viewModel.IsDisable)"
                                                               IsButtonVisible=true
                                                               Title="Division"
                                                               IsSearchable="true"
                                                               _SelectionMode="Winit.Shared.Models.Enums.SelectionMode.Multiple"
                                                               OnSelect="_viewModel.OnDivisionSelected" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Product Category</label>
            <Winit.UIComponents.Common.CustomControls.DropDown DataSource="@_viewModel.CategoryDDL"
                                                               Title="Product Category"
                                                               IsSearchable="true"
                                                               IsButtonVisible=true Disabled="@(_viewModel.IsDisable)"
                                                               OnSelect="_viewModel.OnCatogorySelected" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Product Type</label>
            <Winit.UIComponents.Common.CustomControls.DropDown DataSource="@_viewModel.TypeDDL"
                                                               Title="Product Type"
                                                               Disabled="@(_viewModel.IsDisable)"
                                                               IsSearchable="true"
                                                               IsButtonVisible=true
                                                               OnSelect="_viewModel.OnTypeSelected" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Star Rating</label>
            <Winit.UIComponents.Common.CustomControls.DropDown DataSource="@_viewModel.StarRatingDDL"
                                                               Title="Star Rating" 
                                                               Disabled="@(_viewModel.IsDisable)"
                                                               IsSearchable="true"
                                                               IsButtonVisible=true 
                                                               OnSelect="_viewModel.OnStarRatingSelected" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">TONNAGE</label>
            <Winit.UIComponents.Common.CustomControls.DropDown DataSource="@_viewModel.TonnageDDL"
                                                               Disabled="@(_viewModel.IsDisable)"
                                                               IsButtonVisible=true
                                                               Title="TONAGE" IsSearchable="true"
                                                               OnSelect="_viewModel.OnTonnageSelected" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Item Series</label>
            <Winit.UIComponents.Common.CustomControls.DropDown DataSource="@_viewModel.SeriesDDL"
                                                               Disabled="@(_viewModel.IsDisable)"
                                                               IsButtonVisible=true IsSearchable="true"
                                                               Title="Item Series"
                                                               OnSelect="_viewModel.OnItemSeriesSelected" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Capacity</label>
            <Winit.UIComponents.Common.CustomControls.DropDown DataSource="@_viewModel.CapacityDDL"
                                                               Disabled="@(_viewModel.IsDisable)"
                                                               IsButtonVisible=true
                                                               Title="Capacity" IsSearchable="true"
                                                               OnSelect="_viewModel.OnCapacitySelected" />
        </div>
        <div class="cls_section_div_sku">
            <label class="cls_section_div_purchase2_label">Product Group</label>
            <Winit.UIComponents.Common.CustomControls.DropDown DataSource="@_viewModel.ProductGroupDDL"
                                                               Disabled="@(_viewModel.IsDisable)"
                                                               IsButtonVisible=true
                                                               Title="Product Group" IsSearchable="true"
                                                               OnSelect="_viewModel.OnGroupSelected" />
        </div>


    </div>
    <ApplicableToCustomers ChannelPartner="@_viewModel.ChannelPartner"
                           OnChannelPartnerSelect="_viewModel.OnChannelpartnerSelectedUI"
                           BranchDDL="@_viewModel.BranchDDL"
                           OnBranchSelect="_viewModel.OnBranchSelected"
                           BroadClassificationDDL="_viewModel.BroadClassificationDDL"
                           OnBroadClassificationSelect="_viewModel.OnBroadClassificationSelected"
                           OnShowAllcustomers="_viewModel.AllCustomersByFilters"
                           IsDisable="@(!_viewModel.IsNew)">
    </ApplicableToCustomers>




    <div class="cls_container_div4">
        <h3 class="cls_container_p_half">Excluded Models</h3>
        <button class="cls_comman_btn_right" disabled=@(_viewModel.IsDisable) @onclick="OnAddProductClick">Add Excluding Products</button>
    </div>
    @*  <div class="cls_container_div4"><button class="cls_comman_btn" disabled=@(_viewModel.IsDisable) @onclick="OnAddProductClick">Add Product</button></div>
 *@
    <div class="cls_container_div1">
        <TableGridView DataSource="_viewModel.ExcludedModels" Columns="columns" />
        @*  <Winit.UIComponents.Web.DialogBox.ProductDialogBox T="Winit.Modules.SKU.Model.Interfaces.ISKU"
    DataSource="_viewModel.SKUList"
    SKUCode="@(e => e.Code )"
    SKUHeader="@(e => e.Name)"
    OnCancelClick="() => AddProductDialogBox?.OnCloseClick()"
    OnOkClick="_viewModel.GetSelectedItems"
    @ref="AddProductDialogBox"></Winit.UIComponents.Web.DialogBox.ProductDialogBox> *@
        <WinIt.Pages.DialogBoxes.AddProductDialogBoxV1 T="ISKUV1"
                                                       Title="Add Excluding Products"
                                                       DataSource="_viewModel.SKUV1s"
                                                       L1="@(e => e.L1 )"
                                                       L2="@(e => e.L2 )"
                                                       L3="@(e => e.L3 )"
                                                       L4="@(e => e.L4 )"
                                                       L5="@(e => e.L5 )"
                                                       L6="@(e => e.L6 )"
                                                       L7="@(e => e.Code)"
                                                       L8="@(e => e.Name)"
                                                       UID="@(e => e.UID)"
                                                       OnCancelClick="() => AddProductDialogBox?.OnCloseClick()"
                                                       OnOkClick="_viewModel.GetSelectedItems"
                                                       SelectedItems="SelectedItems"
                                                       @ref="AddProductDialogBox"></WinIt.Pages.DialogBoxes.AddProductDialogBoxV1>

    </div>
    <div class="cls_button_bottom_purchase">
        @if (_viewModel.IsNew)
        {
            <button class="cls_button_light cls_mr5" disabled="@(_viewModel.SKUV1s.Count==0)" @onclick="@DeleteSelectedItems">Delete selected items from the list</button>
        }

        <button class="cls_button_blue" @onclick="@Save">@(_viewModel.IsNew ? "Confirm" : "Back")</button>
    </div>


    <WinIt.Pages.ApprovalRoleEngine.ApprovalEngine ShowApprovalEngine="@(true)"
                                                   RuleId="@_viewModel.RuleId"
                                                   RequestId="@_viewModel.RequestId.ToString()"
                                                   ApprovalUsercodes="_viewModel.ApprovalUserCodes"
                                                   @ref="childComponentRef"
                                                   IsRejectButtonNeeded="_appSetting.IsRejectNeededInScheme"
                                                   IsReassignButtonNeeded="_appSetting.IsReassignNeededInScheme"
                                                   OnApprovalTracker="OnApprovalTracker"
                                                   HandleApprovalAction="HandleApprovalAction">
    </WinIt.Pages.ApprovalRoleEngine.ApprovalEngine>

}