@inherits WinIt.Pages.Base.BaseComponentBase
<Virtualize Items="@HierarchyGrids" OverscanCount="50">
    <ItemContent Context="grid">
        
            <tr >
                <td style="width:5%;">
                    @if (grid.HasChild)
                    {
                        <img style="width:30px" src='@(grid.IsOpen ? "Images/hierarchy_minus.svg" : "Images/hierarchy_plus.svg")' @onclick='async ()=> await ToggleCollapse(grid)' />
                    }
                </td>
                <td style="width:40%;"  >[@grid.Code] @grid.Name</td>
                <td style="width:5%;"  >@grid.ItemLevel</td>
                <td style="width:10%;"  >@(string.IsNullOrEmpty(grid.ParentName) ? "N/A" : grid.ParentName)</td>
                <td style="width:20%;"  >[@grid.SKUGroupTypeCode] @grid.SKUGroupTypeName</td>
                <td style="width:10%;"  >
                    <img @onclick='() => UpdatePopIconClicked(grid)' src="Images/edit.png" style="width:20px;" />
                    <img @onclick='() => CreatePopIconClicked(grid)' src="Images/hierarchy_plus.svg" style="width:20px;" />
                    <img @onclick='() => DeletePopIconClicked(grid)' src="Images/delete.png" style="width:20px;" />
                </td>
            </tr>
      

        @if (grid.IsCreatePopUpOpen)
        {
            <AddUpdateSKUGroupPopUp CancelbtnText=@Localizer["close"] OkBtnText=@Localizer["create"] OnOkClick="() => CreateSkuGroup(grid)" sKUGroupItemView="grid" Context="Context" Title="@Title" IsAddPopUp=true OnCloseClick="() => grid.IsCreatePopUpOpen=false" OnSKUGroupTypebtnClicked="SKUGroupTypeDDClicked" IsSupplierDisabled="true" />
        }
        @if (grid.IsUpdatePopUpOpen)
        {
            <AddUpdateSKUGroupPopUp CancelbtnText=@Localizer["cancel"] OkBtnText=@Localizer["update"] OnOkClick="UpdateSKUGroupClick" sKUGroupItemView="grid" Context="Context" Title="@Title" OnCloseClick="() => grid.IsUpdatePopUpOpen=false" IsSupplierDisabled="true" OnSKUGroupTypebtnClicked="SKUGroupTypeDDClicked" />
        }
        @if (grid.IsDeletePopUpOpen)
        {
            <PopUp Title="@Title" OnCloseClick="() => grid.IsDeletePopUpOpen=false" OkbtnText=@Localizer["ok"] CancelbtnText=@Localizer["cancel"] OnOkClick="() => DeleteClicked(grid)">
                <label>@Localizer["are_you_sure,_you_want_to_delete_this_sku_group?"] </label>
            </PopUp>
        }
        @if (grid.IsOpen)
        {
             <tr style="padding-left:10px;width:100%;">
                <td colspan="6">
                    <table>
                <SKUGroupGrid HierarchyGrids="grid.ChildGrids" OnBtnExpandClick="OnBtnExpandClick" OnCreateClick="OnCreateClick" SupplierSelectionItems="SupplierSelectionItems" OnDeleteSKUGroup="OnDeleteSKUGroup" OnCreateClone="OnCreateClone" OnUpdateClick="OnUpdateClick" OnSKUGroupTypebtnClicked="OnSKUGroupTypebtnClicked"></SKUGroupGrid>
            </table>
            </td>
            </tr>
        }

    </ItemContent>
    <Placeholder> Loading... </Placeholder>
</Virtualize>
