@using Winit.Modules.Common.BL.Interfaces
@inject IAppUser _iAppUser
@inject Winit.UIComponents.Common.IAlertService _alertService
@inject Winit.UIComponents.Common.Services.ILoadingService _loadingService
@inject Winit.UIComponents.Web.SalesManagement.PriceManagement.Services.ISKUPriceDataHelper _skuPriceViewModel
@using Microsoft.Extensions.Localization
@using Winit.Modules.SKU.BL.Interfaces
@using Winit.Modules.SKU.Model.Interfaces
@using Winit.UIComponents.Common.LanguageResources.Web
@inject Winit.UIComponents.Common.Language.ILanguageService _languageService
@inject IStringLocalizer<LanguageKeys> Localizer
@* <div>
    Item
</div>
 *@
 @inject IAddProductPopUpDataHelper _addProductPopUpDataHelper
<div class="cls_container_div4">


    <button class="cls_add_new_sec" @onclick="() => AddProductDialogBox?.OnOpenClick()">Add Product</button>

</div>

@* <Winit.UIComponents.Web.DialogBox.ProductDialogBox T="Winit.Modules.SKU.Model.Interfaces.ISKU"
                                                   DataSource="_skuPriceViewModel.SKULIst"
                                                   SKUCode="@(e => e.Code )"
                                                   SKUHeader="@(e => e.Name)"
                                                   OnCancelClick="() => AddProductDialogBox?.OnCloseClick()"
                                                   OnOkClick="GetSelectedItems"
                                                   @ref="AddProductDialogBox"></Winit.UIComponents.Web.DialogBox.ProductDialogBox> *@
@if (initializeProductComponent)
{
    <WinIt.Pages.DialogBoxes.AddProductDialogBoxV1 T="Winit.Modules.SKU.Model.Interfaces.ISKUV1"
                                                   DataSource="_skuPriceViewModel.SKULIst"
                                                   L1="@(e => e.L1)"
                                                   L2="@(e => e.L2)"
                                                   L3="@(e => e.L3)"
                                                   L4="@(e => e.L4)"
                                                   L5="@(e => e.L5)"
                                                   L6="@(e => e.L6)"
                                                   L7="@(e => e.Code)"
                                                   L8="@(e => e.Name)"
                                                   UID="@(e => e.UID)"
                                                   DropDownDataSource="DropDownDataSource"
                                                   OnDropdownValueSelectSKUAtrribute="@(async (e) => await _addProductPopUpDataHelper.OnSKuAttributeDropdownValueSelect(e.UID))"
                                                   FilterAction="_addProductPopUpDataHelper.FilterAction"
                                                   OnCancelClick="() => AddProductDialogBox?.OnCloseClick()"
                                                   OnOkClick="GetSelectedItems"
                                                   @ref="AddProductDialogBox"></WinIt.Pages.DialogBoxes.AddProductDialogBoxV1>
}

<div class="cls_container_div1">

    <div class="cls_container_div1">
        <div class="cls_container_div1">
            @if (ShowRecordsCount && !string.IsNullOrEmpty(ViewingMessage))
            {
                <p class="cls_table_page_split_count">@ViewingMessage</p>
            }
        </div>
    </div>
    <div class="div1">
        <table>
            <thead>
                <tr>
                    <th @onclick="@(()=>SortColumn(nameof(ISKUPrice.SKUCode)))">
                        <span style="text-decoration:underline;cursor:pointer;">@Localizer["sku_code"]</span>
                        @if (currentSortField == nameof(ISKUPrice.SKUCode))
                        {
                            <span>@(isAscending ? "▲" : "▼")</span>
                        }
                    </th>
                    <th @onclick="@(()=>SortColumn(nameof(ISKUPrice.SKUName)))">
                        <span style="text-decoration:underline;cursor:pointer;">@Localizer["sku_name"]</span>
                        @if (currentSortField == nameof(ISKUPrice.SKUName))
                        {
                            <span>@(isAscending ? "▲" : "▼")</span>
                        }

                    </th>
                    <th @onclick="@(()=>SortColumn(nameof(ISKUPrice.Price)))">
                        <span style="text-decoration:underline;cursor:pointer;">@Localizer["price"]</span>
                        @if (currentSortField == nameof(ISKUPrice.Price))
                        {
                            <span>@(isAscending ? "▲" : "▼")</span>
                        }
                    </th>
                    <th @onclick="@(()=>SortColumn(nameof(ISKUPrice.ValidFrom)))">
                        <span style="text-decoration:underline;cursor:pointer;">@Localizer["valid_from"]</span>
                        @if (currentSortField == nameof(ISKUPrice.ValidFrom))
                        {
                            <span>@(isAscending ? "▲" : "▼")</span>
                        }
                    </th>
                    <th @onclick="@(()=>SortColumn(nameof(ISKUPrice.ValidUpto)))">
                        <span style="text-decoration:underline;cursor:pointer;">@Localizer["valid_upto"]</span>
                        @if (currentSortField == nameof(ISKUPrice.ValidUpto))
                        {
                            <span>@(isAscending ? "▲" : "▼")</span>
                        }
                    </th>
                    <th @onclick="@(()=>SortColumn(nameof(ISKUPrice.UOM)))">
                        <span style="text-decoration:underline;cursor:pointer;">@Localizer["uom"]</span>
                        @if (currentSortField == nameof(ISKUPrice.UOM))
                        {
                            <span>@(isAscending ? "▲" : "▼")</span>
                        }
                    </th>
                    <th>@Localizer["cost_price"]</th>
                    <th>@Localizer["ws_price"]</th>
                    <th>@Localizer["rtl_price"]</th>
                    <th>@Localizer["action"]</th>
                </tr>
            </thead>
            <tbody>
                @if (SKUPriceList == null||SKUPriceList.Count==0)
                {
                    <tr colspan="10" style="text-align: center;color:red">No Record Found</tr>
                }
                else
                {
                    @foreach (ISKUPrice item in SKUPriceList)
                    {
                        count++;
                        <tr>
                            <td>@item.SKUCode</td>
                            <td>@item.SKUName</td>
                            <td>
                                @if (item.IsEdit && item.ISNew)
                                {
                                    <input type="number" @bind="@item.TempPrice" />

                                }
                                else
                                {
                                    @item.Price
                                }
                            </td>
                            <td>
                                @if (item.IsEdit && item.ISNew)
                                {
                                    <input type="date" @bind="@item.TempValidFrom" min="@DateTime.Now.Date" />
                                }
                                else
                                {
                                    <label>@Winit.Shared.CommonUtilities.Common.CommonFunctions.GetDateTimeInFormat(item.ValidFrom)</label>
                                }
                            </td>
                            <td>
                                @if (item.IsEdit)
                                {
                                    <input type="date" @bind="@item.TempValidUpto" />
                                }
                                else
                                {
                                    <label>@Winit.Shared.CommonUtilities.Common.CommonFunctions.GetDateTimeInFormat(item.ValidUpto)</label>

                                }

                            </td>
                            @* <td>EA</td> *@
                            <td>@item.UOM</td>

                            <td>
                                @if (item.IsEdit && item.ISNew)
                                {
                                    <input type="number" @bind="@item.TempMRP" />

                                }
                                else
                                {
                                    @item.MRP
                                }
                            </td>
                            <td>
                                @if (item.IsEdit && item.ISNew)
                                {
                                    <input type="number" @bind="@item.TempDefaultWSPrice" />
                                }
                                else
                                {
                                    @item.DefaultWSPrice
                                }
                            </td>
                            <td>
                                @if (item.IsEdit && item.ISNew)
                                {
                                    <input type="number" @bind="@item.TempDefaultRetPrice" />

                                }
                                else
                                {
                                    @item.DefaultRetPrice
                                }
                            </td>
                            <td>
                                @if (!item.IsEdit && Winit.Shared.CommonUtilities.Common.CommonFunctions.GetBooleanValue(item.IsLatest))
                                {
                                    <a onclick="@(()=>ChangeDuplicate(item))"><img src="Images/add.png" /></a>
                                }

                                <a @onclick="@(()=>DeleteSKUPrice(item))"><img src="Images/delete.png" /></a>
                                @if (item.IsEdit)
                                {
                                    <a @onclick="@(()=>SaveOrUpdateIndividual(item,true))"><img style="width:18px;height:20px" src="Images/save.png" /></a>
                                    <a @onclick="@(()=>SaveOrUpdateIndividual(item,false))"><img src="Images/cancel.png" /></a>
                                }
                                else
                                {
                                    <a @onclick="@(()=>EditSkuDetails(item))"><img style="width:18px;height:20px" src="Images/edit.png" /></a>
                                }
                            </td>

                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>

</div>


