@page "/CheckServiceStatus"
@inject Winit.Modules.ServiceAndCallRegistration.BL.Interfaces.IServiceAndCallRegistrationViewModel _serviceAndCallRegistrationViewModel;
@inherits WINITMobile.Pages.Base.BaseComponentBase

<div class="cls_main1">
@if (OnInitialised)
{
    <div class="cls_container_div1">
    <div class="cls_section" >
            <p class="cls_call_status_p">
                You will find your Service Number in the confirmation email you receive, once you submit the service request.
                To check the status of your service request, enter your 'Service Number' in the space provided below.
            </p>

            <div class="cls_container_div4" >
                <label class="cls_section_div_purchase2_label"> <span class="cls_section_div_purchase2_span">*</span>Service Number</label>
            <input type="text" placeholder="Service Number" @bind="@serviceNumber" class="cls_select2_button" />
            </div>

          

    </div>
    <div class="cls_button_bottom_purchase">
        <button class="cls_button_blue " @onclick="SubmitSeviceNumber">Submit</button>
    </div>
    </div>
    @if (DataFetched)
    {
        <div class="card" style="max-width: 800px; margin: 2rem auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            <div class="card-header" style="font-weight: bold; font-size: 1.2rem;">
                Check your Service Request Status
            </div>
            <table class="table table-bordered" style="text-align: center; font-size: 14px;">
                <thead style="background-color: #f8f9fa;">
                    <tr>
                        <th>Complain Number</th>
                       @*  <th>Customer Name</th> *@
                        <th>Service Status</th>
                        <th>Call Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@_serviceAndCallRegistrationViewModel.ServiceStatus.CallId</td>
                       @*  <td>@_serviceAndCallRegistrationViewModel.serviceRequestStatusResponce.ItemName</td> *@
                        <td>@_serviceAndCallRegistrationViewModel.serviceRequestStatusResponce.ServiceStatus</td>
                        <td>@_serviceAndCallRegistrationViewModel.serviceRequestStatusResponce.CallStatus</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

}

</div>