@inherits WINITMobile.Pages.Base.BaseComponentBase


<style>
    .vertical-div {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .horizontal-div {
        display: flex;
        height: 60;
        flex-direction: row;
        flex: 1; /* Takes up all available vertical space */
        justify-content: space-between; /* Distribute horizontal parts evenly */
        margin: 0; /* Reset margin */
    }

    .part-a {
        flex: 20%;
        background-color: transparent; /* Optional: Add background color for visual separation */
    }

    .part-b {
        flex: 80%;
    }

    .vertical-part {
        flex: 50%;
        text-align: center;
        background-color: transparent; /* Optional: Add background color for visual separation */
    }

    .horizontal-half {
        display: flex;
        flex-direction: row;
        flex: 50%;
    }

    .horizontal-part {
        flex: 16.67%; /* Each horizontal part occupies 16.67% of the width */
        background-color: transparent; /* Optional: Add background color for visual separation */
    }

    .vertical-half {
        display: flex;
        flex-direction: column;
        margin: 0; /* Reset margin */
    }

</style>

@if (SalesOrderPreviewItemViewList != null && SalesOrderPreviewItemViewList.Count > 0)
{
    @foreach (var product in SalesOrderPreviewItemViewList)
    {
        <div class="cls_product_preview">
            <div class="cls_product_preview1">
                <span>
                    <img style="width:34px;"
                         src="@(!string.IsNullOrEmpty(product.SKUImage)? Path.Combine(product.SKUImage):"")">
                </span>
                <h2>
                    [@product.SKUCode]@product.SKULabel
                </h2>
                <i><img @onclick="() => HandleProductDelete(product)" style="width:14px;" src="/Images/del.png"></i>
            </div>
            <div class="cls_product_preview2">
                <div class="cls_product_preview2_rep dn"> 
                    <p>@Localizer["unit_price"]:@*  (@product.CurrencyLabel) *@</p><h3>@product.UnitPrice</h3>
                    <label>@product.CurrencyLabel</label>
                </div>
                

            </div>
            <div class="cls_product_preview3">
                <div class="cls_product_preview3_rep dn">
                    <label>@Localizer["uom"] </label>
                    <h3>@product.SelectedUOM.Label</h3>
                </div>
                @*  <div class="cls_product_preview3_rep">
        <label>QTY</label>
        <h3>@product.Qty</h3>
        </div> *@
                <div class="cls_product_preview3_rep">
                    <label>Selling Price </label>
                    <h3>@product.UnitPrice</h3>
                </div>
                <div class="cls_product_preview3_rep">
                    <label>Sold Qty</label>
                    <h3>@product.Qty</h3>
                </div>
                <div class="cls_product_preview3_rep dn">
                    <label>@Localizer["tax"]</label>
                    <h3> @product.TotalTax</h3>
                </div>
                <div class="cls_product_preview3_rep" style="width:20%;">
                    <label>Total price</label>
                    <h3> @product.NetAmount</h3>
                </div>

            </div>

        </div>
    }
}
else
{
    <p>@Localizer["no_items_are_selected"]</p>
}
@code {

    [Parameter]
    public List<Winit.Modules.SalesOrder.Model.UIInterfaces.ISalesOrderItemView> SalesOrderPreviewItemViewList { get; set; }
    [Parameter]
    public EventCallback<ISalesOrderItemView> OnDeleteClick{ get; set; }
    private void HandleProductDelete(ISalesOrderItemView salesOrderItemView)
    {
        OnDeleteClick.InvokeAsync(salesOrderItemView);
    }
    //Seva
    protected override async void OnInitialized()
    {
        LoadResources(null, _languageService.SelectedCulture);
    }
 }
